# download data and make figures as html using python

name: manual

on:
  workflow_dispatch:

permissions: write-all
  # contents: read

jobs:
  quake-fig:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
#      uses: actions/setup-python@v3
#      with:
#        python-version: "3.10"
#    - name: Install dependencies
      run: |
         wget -O test.txt "https://maps.googleapis.com/maps/api/geocode/json?address=רחובות&key=${{ secrets.GOOMAP }}&language=iw"
#        pip install -r requirements.txt
#    - name: run script
#      run: |
#        python code/earthquakes1.py
#    - name: commit files
#      run: |
#        git config --global user.name "actions"
#        git config --global user.email "actions@github"
#        git add -A
#        git commit -m "manual update"
#    - name: push files
#      uses: ad-m/github-push-action@master
#      with:
#        github_token: ${{ secrets.GITHUB_TOKEN }}
